<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First UIreturning from Django</title>
    <style>
        h3{
            color: rebeccapurple;
            background-color: pink;
            font-family: cursive;
            width: 200px;
        }
        p{
            background-color: rgb(117,102,80);
            font-family: Arial, Helvetica, sans-serif;
            width: 200px;
        }

    </style>
</head>
<body>
    <h3>Learning Django</h3>
    <p>Python is an amazing Programming Language </p>
</body>
</html>